.item {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 10px; */
  /* outline: 5px solid rgb(130, 229, 246); */
  /* border: 2px solid rgb(130, 229, 246); */
  padding: 2px;
  /* border-radius: 10px; */
  overflow: hidden;
  gap: 3px;
  background-color: rgb(39, 74, 114);
  /* aspect-ratio: 1/1; */
  position: relative;
}

.inactive {
  background-color: #0003;
}

.focused {
  outline: 8px solid rgb(11, 7, 14);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.461);
  border-radius: 4px;
}

.blur {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.163);
  -webkit-backdrop-filter: blur(2px); /* Safari */
  -moz-backdrop-filter: blur(2px);    /* Firefox */
  -ms-backdrop-filter: blur(2px);     /* Microsoft Edge */
  backdrop-filter: blur(2px);
}

.winnerTop {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 6rem;
  color: #fff5;
}

.row {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  /* border-radius: 10px; */
}